h1 {
    margin: 20px auto;
    padding: 15px;
    border: 0px solid;
    border-radius: 20px;
    background: rgba(218, 218, 218, 0.658);
    }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;    
    font-weight: normal;
    text-align: center;
}

#title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#img-div {
    color: rgba(161, 161, 161, 0.658);
    font-size: 15px;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;       
}

#img-caption {
    padding: 15px;
    color: rgba(48, 48, 48, 0.658);
    font-size: 14px;
    font-style: italic;
}

#tribute-info {
    margin: 20px auto;
    padding: 15px;
    border: 0px solid;
    background: rgba(218, 218, 218, 0.658);
    text-align: left;
    font-size: 20px;
}

h2 {
    margin: 20px auto;
    padding: 15px;
    font-size: 20px;
    font-style: italic;
    color: rgb(92, 92, 92);
     
}

#testimony-image {
    display: block;
    position: absolute;
    object-fit: cover;
    max-width: 100%;


}

